aiofiles==23.1.0
asgiref==3.6.0
Babel==2.12.1
blinker==1.5
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.3
coloredlogs==15.0.1
dataclasses-json==0.5.7
dateparser==1.1.8
Django==4.2.1
docopt==0.6.2
editdistance==0.6.2
epitran==1.17
espeak-phonemizer==1.3.0
filelock==3.12.0
flatbuffers==23.3.3
gruut==2.3.4
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fa==2.0.0
gruut-lang-fr==2.0.2
gruut-lang-it==2.0.0
gruut-lang-nl==2.0.2
gruut-lang-ru==2.0.0
gruut-lang-sw==2.0.0
h11==0.14.0
h2==4.1.0
hazm==0.7.0
hpack==4.0.0
humanfriendly==10.0
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.4
image==1.5.33
itsdangerous==2.1.2
Jinja2==3.1.2
jsonlines==1.2.0
libtpu-nightly==0.1.dev20230327
libwapiti==0.2.1
lit==16.0.3
llvmlite==0.40.0
marisa-trie==0.8.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
more-itertools==9.1.0
MouseInfo==0.1.3
mpmath==1.3.0
munkres==1.1.4
mycroft-mimic3-tts==0.2.4
mycroft-plugin-tts-mimic3==0.1.5
mypy-extensions==1.0.0
networkx==2.8.8
nltk==3.3
num2words==0.5.12
numba==0.57.0
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnxruntime==1.14.1
onnxruntime-gpu==1.14.1
openai-whisper @ git+https://github.com/openai/whisper.git@248b6cb124225dd263bb9bd32d060b6517e067f8
packaging==23.1
panphon==0.20.0
phonemes2ids==1.2.2
Pillow==9.5.0
pipreqs==0.4.13
priority==2.0.0
protobuf==4.22.4
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-crfsuite==0.9.9
python-dateutil==2.8.2
python3-xlib==0.15
pytweening==1.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
quart==0.18.4
quart-cors==0.6.0
regex==2023.5.5
requests==2.30.0
six==1.16.0
sqlparse==0.4.4
swagger-ui-py==21.12.8
sympy==1.11.1
tiktoken==0.3.3
toml==0.10.2
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
unicodecsv==0.14.1
urllib3==2.0.2
Werkzeug==2.3.3
wsproto==1.2.0
xdgenvpy==2.3.5
yarg==0.1.9
