openai==1.11.0
openai-whisper==20231117
PyAutoGUI==0.9.54
pyperclip==1.8.2
ffmpeg-python==0.2.0
jax==0.4.23
jaxlib==0.4.23+cuda12.cudnn89
whisper_jax @ git+https://github.com/sanchit-gandhi/whisper-jax.git@1b3096a5a5a43f037083c16840e76473af5b7f40
PyGObject==3.46.0
urllib3==1.26.18
gradio==4.8.0
gradio_client==0.7.1
